body {
  background-color: bisque;
}

#title {
  color: blueviolet;
}
.description {
  font-style: italic;
  font-size: 14px;
}

#todo_list {
  padding-left: 0;
  font-size: 20px;
}

.remove-item:hover {
  cursor: pointer;
}

#todo_list li {
  list-style-type: none;
}

.todo-item-input {
  border: none;
  font-size: 16px;
  border-radius: 3em;
  padding: 4px;
  margin: 2px;
}

.remove-item {
  color: red;
  font-size: 16px;
}

.todo-item-input:hover {
  background-color: rgb(8, 197, 81);
}

.date {
  font-size: 8px;
}

.date:hover {
  font-size: 20px;
}

#warning {
  color: red;
  font-size: 12px;
  margin-top: 0;
}

#button {
  font-size: 18px;
}

#todo_input {
  font-size: 18px;
}

#tasksLeft {
  float: right;
  margin-right: 10%;
  border: 5px solid blueviolet;
  border-radius: 2em;
  padding: 1em;
}
